<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#user-dashboard},~{::title}, ~{::script})}">
<head>
   <title th:text="${loggedInUser.name}+ ' SCM'">Search </title>
</head>
<body>
    <div data-th-replace="navbar :: navbar"></div>
    
    <div id="user-dashboard"
    class="sm:pl-64 pt-40 max-h-1000px">
            <!-- user logged in - sidebar -->

<div th:if="${loggedInUser}">
    <div data-th-replace="~{user/user-sidebar :: sidebar}"></div>
</div>
    
        <h1 class="text-5xl">Search results</h1>
        <p th:text="${pageContact.totalElements}+' results found' ">

        </p>

        <div class="contacts_container p-5">
            

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <div class="md:flex-row flex-col flex justify-between items-center px=3
                bg-white dark:bg-gray-900">
                <form 
                th:object="${contactSearchForm}"
                th:action="@{'/user/contact/search'}"
                 >
                
                 <div class="flex p-5 space-x-3 items-center justify-start flex-column flex-wrap md:flex-row space-y-0 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
                    
 
                     <!-- search box  -->
 
                     <div class="searchbox">
                          <select th:field="*{fields}"  id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                           <option selected value="">Select a field</option>
                           <option value="name">Name</option>
                           <option value="phoneno">Phone</option>
                           <option value="email">Email</option>
                          
                         </select>
                     </div>
 
 
                     <label for="table-search" class="sr-only">Search</label>
                     <div class="relative">
                         <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                             <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                             </svg>
                         </div>
                         <input th:field="*{value}" type="text" id="table-search-users" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
                     </div>
 
                     
                     <button type="submit"  class="px-3 py-2 bg-blue-800 rounded-xl hover:bg-blue-500">Search 
 
                     </button>
                 </a>
                 </div>
                </form>
                <div>
                    <button type="button"  onclick="exportData()" class="px-3 py-2 bg-green-800 rounded-xl hover:bg-green-500">
                        Export 
                     </button>
                   </div>
              </div>
              
              <div>
                <table
                id="search-table"
                th:if="${pageContact.totalElements>0}"
                class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                           
                            <th scope="col" class="px-6 py-3">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Phone
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Links 
                            </th>
                            <th scope="col" class="px-12 py-9">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- th:object="${c}" -->
                        <tr
                      
                        th:each="c: ${pageContact.getContent()}"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            
                            <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                <img                               
                                class="w-10 h-10 rounded-full"
                                th:src="${c.contactImage}" alt="profile_pic"
                                onerror="this.src='/images/Default_pfp.jpg'">
                                <!-- data-th-src="@{'/images/li.png'}" -->
                                
                                <div class="ps-3">
                                    <div th:text="${c.name}" class="text-base font-semibold"></div>
                                    <div th:text="${c.email}" class="font-normal text-gray-500"></div>
                                </div>  
                            </th>
                            <td class="px-6 py-4 "> <div class="flex flex-row ">
                                <img data-th-src="@{'/images/phn.png'}" alt="LinkedIn" class="w-4 h-4 m-2">
                                 <span  th:text="${c.phoneno}" class="m-2 font-semibold text-gray-800 dark:text-gray-300"> </span> 
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex items-center">
                                   
                                    <a th:href="@{*{linkedin}}" target="_blank"> 
                                        <img data-th-src="@{'/images/li.png'}" alt="LinkedIn" class="w-5 h-5"> 
                                    </a>
                                    <a th:href="@{*{linkedin}}" target="_blank"> 
                                        <img data-th-src="@{'/images/facebook.png'}" alt="facebook" class="w-5 h-5 m-2"> 
                                    </a>
                                    <div th:if="${c.favourite}" class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
                                </div>
                            </td>
                            <td class="px-6 py-4  flex flex-row justify-center items-start" >
                                <button  th:onclick="loadContactData([[${c.id}]])"
                                class=" p-1 rounded-xl ">
                                <img data-th-src="@{'/images/eye.png'}" alt="eye icon by Icons-8" class="w-5 h-5 m-2">
                                </button>
                                <a 
                                href="" class=" p-1 rounded-xl ">
                                <img data-th-src="@{'/images/pen.png'}" alt="eye icon by Icons-8" class="w-5 h-5 m-2"></a>
                                <a href="" class=" p-1 rounded-xl  ">
                                    <img data-th-src="@{'/images/bin.png'}" alt="eye icon by Icons-8" class="w-5 h-5 m-2">
                                </a>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
              </div>
                    <!-- pagination component -->
                     <div  
                     th:if="${pageContact.totalElements>0}"
                     class="pagination_container p-5 text-center bg-white dark:bg-gray-700">
                        <nav aria-label="Page navigation example">
                            <ul class="inline-flex -space-x-px text-base h-10">
                              <li 

                              th:unless="${pageContact.first}"> 
                                <a 
                                th:href="@{'/user/contact/search?size='+${pageSize}+'&page='+${pageContact.getNumber()-1}+'&fields='+${contactSearchForm.fields}+'&value='+${contactSearchForm.value}}"
                              
                               
                                class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                              </li>
                              <li  th:each="index : ${#numbers.sequence(0,pageContact.totalPages-1)}">
                                
                                <a                                 
                                th:href="@{'/user/contact/search?size='+${pageSize}+'&page='+${index}+'&fields='+${contactSearchForm.fields}+'&value='+${contactSearchForm.value}}"
                              
                               th:classappend="${index==pageContact.getNumber() ? 'bg-blue-500 dark:bg-gray-600' :  'bg-white dark:bg-gray-800'}"
                              
                               class="flex items-center justify-center px-4 h-10 leading-tight text-gray-800 bg-blue-300 border border-gray-300 hover:bg-green-400 hover:text-gray-700 dark:bg-blue-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                               
                               >
                                <span th:text="${index+1}"></span>    
                            </a>
                              </li>
                              
                              <li
                              th:unless="${pageContact.last}"> 
                                <a 
                                th:href="@{'/user/contact/search?size='+${pageSize}+'&page='+${pageContact.getNumber()+1}+'&fields='+${contactSearchForm.fields}+'&value='+${contactSearchForm.value}}"
                              
                                href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                              </li>
                            </ul>
                          </nav>
                     </div>
                    </div>

                     <div th:if="${pageContact.totalElements<=0}" 
                    class="text-5xl text-center bg-white p-4 dark:bg-gray-700 text-gray-600">
                        <p>Sorry no results found</p>
                    </div>
            
            
                    </div>
                    <div th:replace="~{user/Contact_modals :: contact}"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js"></script>
  
    <script th:src="@{'/js/contacts.js'}"></script>
    <script>
        console.log("Profile page") ;
    </script>
     <script>
        function exportData() {

            TableToExcel.convert(document.getElementById("search-table"), {
  name: "contacts.xlsx",
  sheet: {
    name: "Sheet 1"
  }
});
            }
        
    </script>
</body>
</html>